.header{
	font-size: 1.2rem;
}

.logo{
	padding: 1rem;
}

.mask-on-image{
	position: relative;
	height: 100%;
}

.mask-on-image img{
	height: 100%;
}
.mask-on-image .overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.16249999999999998) 63%, rgba(0,0,0,0.4446428571428571) 100%);
}